/* Work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* Shared CSS Styles */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  padding: 12px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #ff900e;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-primary a {
  text-decoration: none;
  color: #fff;
}
.text-light-orange {
  color: #ff900e;
}
.text-light-gray {
  color: #727272;
  width: 542px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 20px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-title {
  color: #131313;
  font-size: 2.6rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  gap: 15px;
}
.nav-menu li {
  list-style: none;
  font-size: 1rem;
}
.nav-menu li a {
  text-decoration: none;
  color: #424242;
}

/* Banner CSS Styles */

.banner {
  text-align: center;
  padding-top: 50px;
}
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
}

/* main styles */

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams part start */

.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.quick-list {
  font-weight: 500;
}
.feature-text {
  color: #ff900e;
}
.teams-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
  margin-bottom: 10px;
}
.teams-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

/* feature css start */

.feature-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.feature-paragraph {
  width: 550px;
}
.feature-content h2 {
  border-left: 5px solid #ff900e;
  font-size: 2rem;
  padding-left: 10px;
}
.feature-image {
  position: relative;
}
.feature-image img {
  width: 700px;
}
.feature-card {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.feature-card p {
  width: 510px;
}
.feature-bottom {
  padding: 20px;
  background: #ff900e;
  text-align: center;
  color: #ffff;
  position: absolute;
  bottom: -60px;
  left: -60px;
}
.feature-bottom h1 {
  font-size: 3.6rem;
}
.feature-bottom h5 {
  font-size: 1.5rem;
}

/* feature css end */

/* fact css start */

.fact-card-container {
  display: flex;
  justify-content: space-around;
}
.fact-card-container .card {
  padding: 40px 30px;
  border: 1px dotted red;
  text-align: center;
}
.fact-card-container .card-stats {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 5px;
}
.fact-card-container .card-title {
  color: #727272;
  font-size: 1.25rem;
  margin-top: 5px;
}
/* fact css end */

/* Sponsor css start */
.sponsor {
  text-align: center;
}
.sponsor-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.sponsor-img-container img {
  width: 155px;
}
.sponsor-paragraph {
  margin: 0 auto;
}
/* Sponsor css end */

/* footer  css start */

footer {
  background-color: #fff4e7;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* footer  css end */

/* Responsive media queries */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  .banner-description {
    width: auto;
  }
  nav,
  .teams-container,
  .fact-card-container,
  .sponsor-img-container,
  .sponsor-img-container {
    flex-direction: column;
  }
  .fact-card-container {
    gap: 20px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .fact-card-container {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .sponsor-img-container {
    gap: 20px;
  }
}

/* Tablet Devices & medium devices */

@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 40px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .teams-content {
    text-align: center;
  }
}
